# Logs
*.log

# Dependency Directories
node_modules

# Build Output
dist
build
.vite

# Prisma
/src/generated/prisma

# Environment Variable Files
.env
.env.*
!.env.example

# Developer Directories
.Extras
uploads
.claude
